.about-website section {
    min-height: 30vh;
    padding-block: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    border-bottom: 1px solid var(--fade);
}

.about-website > p {
    padding-block: 30px;
    font-size: 1.4rem;
    font-family: var(--font);
}

.about-website > p > span {
    font-size: 1.6rem;
    color: var(--theme);
}

header {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: 1px solid var(--fade);
}

header :is(div, ul.list) {
    display: flex;
    align-items: center;
    padding-block: 5px;
}

header div {
    gap: 10px;
    font-size: 2rem;
    font-family: var(--font);
}

header img {
    height: 50px;
}


header a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

form {
    width: clamp(250px, 100%, 400px);
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

input,
textarea {
    font-size: 16px;
    padding: 5px;
    border: 1px solid transparent;
    border-bottom-color: var(--theme);
    outline: none;
    resize: none;
    font-family: 'Lora', serif;
}

input:focus,
input:hover,
textarea:focus,
textarea:hover {
    background-color: var(--theme-fade);
}

.login {
    margin-block: 100px;
}

.login h1 {
    font-family: var(--font);
    text-align: center;
}

.login>div {
    display: flex;
    gap: 6px;
}

.login>div a {
    width: 100%;
}

.login>a,
.login>p>a {
    color: red;
    font-weight: 800;
}

#profile {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#profile .no-found {
    margin: 30px auto;
}

.profile-top {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-image: var(--white-mash);
}

.profile-intract {
    display: flex;
    gap: 5px;
}

.profile-top .img {
    margin: auto;
}

.profile-top img {
    height: 200px;
    width: 200px;
    border-radius: 250px;
    padding: 0;
}

.profile-details {
    flex-grow: 1;
}

.profile-details>p {
    padding-top: 20px;
}

.profile-detail-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--fade);
}

.profile-detail-top p {
    font-family: var(--font);
    font-size: 1.3rem;
}

.profile-detail-top span {
    font-size: 0.8rem;
    color: var(--fade);
}

.profile-detail-bottom {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
}

.profile-detail-bottom p {
    font-family: var(--font);
    font-size: 1.1rem;
}

.profile-detail-bottom span {
    font-size: 0.9rem;
}

.profile-bottom ul {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--fade);
    font-family: var(--font);
}

.profile-bottom section {
    padding-top: 10px;
}

.update-profile label,
.create-post label {
    transition: var(--transition);
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.update-profile label:hover,
.create-post label:hover {
    filter: brightness(0.8);
}

.update-profile label img {
    width: 250px;
    height: 250px;
    border-radius: 250px;
    padding: 0;
}

.update-profile input[name="image"] {
    display: none;
}

.create-post img {
    width: 250px;
    height: 250px;
    padding: 0;
}

.create-post input[name="image"] {
    display: none;
}

.post-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.post-card {
    flex: 1;
    padding: 0;
    margin: 0;
    min-width: 250px;
    max-width: 500px;
    width: calc(33.33% - 15px);
    transition: var(--transition);
}

.post-card:hover {
    transform: scale(1.1);
}

.post-card img {
    padding: 0;
    margin: 0;
    object-fit: cover;
    object-position: center;
    max-width: 100%;
    height: auto;
}

#post,
#blog {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#post>div,
#blog>div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post-detail {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3px;
}

.post-detail span {
    color: var(--fade);
    font-size: 0.9rem;
    display: flex;
    gap: 5px;
    align-items: center;
}

#post img.box {
    width: 80vw;
    height: 80vw;
    max-width: 500px;
    max-height: 500px;
    margin: auto;
    padding: 0;
}

.add-comment {
    display: flex;
    width: 100%;
}

.add-comment input {
    width: 100%;
}

.add-comment button:hover {
    transform: none;
}

#blog .blog-body {
    font-size: 1;

}

#chat {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

#chat .info {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

#chat .info div {
    display: flex;
    align-items: center;
    gap: 20px;
}

#chat .info img {
    height: 70px;
    width: 70px;
    border-radius: 250px;
}

#chat .info i {
    font-size: 2rem;
    transition: var(--transition);
}

#chat .info i:hover {
    color: var(--theme-light);
}

#chat .chat {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

#chat .chat>div {
    max-width: 70vw;
    width: fit-content;
    padding: 5px 20px;
    background-color: var(--theme-light);
    background-image: var(--mash);
    color: white;
}

#chat .chat>div span {
    font-size: 0.9rem;
    font-family: var(--font);
}

#chat .chat .me {
    margin-left: auto;
}

#chat .chat>span {
    border-bottom: 1px solid var(--fade);
    color: #383838;
    text-align: center;
    font-size: 0.8rem;
    padding: 5px;
    text-transform: uppercase;
}

#chat .input {
    padding: 5px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#chat .input div {
    padding: 5px;
    margin: 0;
    display: flex;
}

#chat .input input {
    width: 100%;
}

#chat .input button:hover {
    transform: none;
}