@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: inherit;
    list-style: none;
}

:root {
    --font: 'Bree Serif', serif;

    --theme: #ff0000;
    --theme-light: #ff3232;
    --theme-fade: #ff00000d;
    --fade: #b7b7b7;

    --transition: all ease-in-out 400ms;

    --red-mash: linear-gradient(to right, #ff5d5a, #ff4843, #ff3028, #ff0000);
    --white-mash: linear-gradient(to right bottom, #ffffff, #fbfbfb, #f7f7f7, #f3f3f3, #efefef, #efefef, #efeff0, #eeeff0, #f1f3f4, #f3f7f8, #f5fbfc, #f8ffff);
}

html {
    font-family: 'Lora', serif;
    background-color: aliceblue;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    padding-block: 10px;
    width: clamp(250px, 98%, 1200px);
    margin: auto;
}

header,
main,
footer {
    padding-inline: 10px;
}