@import url("https://fonts.googleapis.com/css2?family=Martian+Mono&family=Open+Sans:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Martian: "Martian Mono", monospace;
  --OpenSans: "Open Sans", sans-serif;

  --Border: 1px solid var(--Shadow-Color);
  --Shadow: 0px 0px 8px var(--Shadow-Color);
  --Radius: 8px;
  --Transition: 300ms;

  --Shadow-Color: #c9c9c9;
  --Theme: #643dff;
  --Theme-Light: #8161ff;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: aliceblue;
  font-family: var(--OpenSans);
}

main {
  flex-grow: 1;
}

.container {
  margin: auto;
  width: clamp(280px, 100%, 1200px);
  padding: 0px 10px;
}
